<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="./img/Logo.svg" />

</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,800;1,900&display=swap');
</style>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
</style>

<body>
   <div class="app">
    <div class="logo"><img src="../img/Logo.svg" /></div>
    <div class="createAccount">
        
        <div class="login">
            <div class="title">Create Account</div>
            <div class="loginRedes">
                <button class="Microsoft">
                    <img src="../img/icons/loginMicrosoft.svg" alt="iconMicrosoft" />
                    <p>Login whit Microsoft</p>
                </button>
                <button class="Google">
                    <img src="../img/icons/loginGoogle.svg" alt="iconGoogle" />
                    <p>Login whit Google</p>
                </button>
                <button class="Facebook">
                    <img src="../img/icons/loginFacebook.svg" alt="iconFacebook" />
                    <p>Login whit Facebook</p>
                </button>
            </div>
            <p class="text1">OR</p>
            <br>
            <form>
                <input type="text" className="FirstName" placeholder="First Name" />
                <input type="text" className="LastName" placeholder="Last Name" />
                <input type="text" className="EmailAddress" placeholder="Email Address" />
                <input type="text" className="DateOfBirth" placeholder="Date Of Birth" />
                <input readOnly className="gender" placeholder="Gender" />
                <div class="Loging">
                    <input type="text" className="userName" placeholder="Username" />
                    <input type="text" className="Password" placeholder="Password" />
                </div>

            </form>
            <br>
            <p class="text2">ALREADY HAVE AN ACCOUNT?
                <a class="anchorLogin"> LOGIN</a>
            </p>


        </div>
        <button class='singUp'>
            SING UP
        </button>
    </div>
</div>
</body>

</html>