<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>


    <img class="logo"src="../img/Logo.svg"/>

    <div class="loginContainer">
        <p class="title">Welcome back!</p>
        <p class="title2">Nice to see you again.</p>
        <div class="formContainer">
            <input placeholder="Username/Email"/>
            <input placeholder="Password"/>
        </div>
        <div class="checkbox">
           
            <input type="checkbox"/>
            <p>Keep me logged in</p>
       
            <a>Forgot password?</a>
        </div> 

            <button class="loginButton">LOG IN</button>
            
            <div class="lineText">
                <line class="line"></line>
                <p>or</p>
                <p>Login Whit</p>
            </div>
            
            
            <div class="buttonLoginNetworks">
                <button>
                    <img src="../img/icons/loginMicrosoft.svg">
                    <p> Microsoft</p>
                </button>
                <button>
                    <img src="../img/icons/loginGoogle.svg">
                    <p> Google</p>
                </button>
                <button>
                    <img src="../img/icons/loginFacebook.svg">
                    <p>Facebook</p>
                </button>
            </div>
            <div class="SingUp">
            <p >Don't have account?  
               
            </p><a>Sing up</a>
            </div>
        </div>
    </div>

<body>

</body>

</html>